[submodule "asciidoctor-backends"]
	path = asciidoctor-backends
	url = https://github.com/asciidoctor/asciidoctor-backends.git
[submodule "deck2pdf"]
	path = deck2pdf
	url = https://github.com/melix/deck2pdf
